* {
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #333;
    padding: 10%;
    margin: 0;
    font-family: Menlo, Consolas, monospace;
}

#workspace {
    text-align: center;
}
#workspace img,
#workspace canvas {
    display: inline-block;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    margin: 1em 0;
}
